html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: row;
    min-width: 100vw;
}
body > *{
    margin-top: 0;
    border: 0px solid red;
    margin:1px;
    padding-top: 0;
}

aside{
    /* border : 1px solid red; */
    padding-left: 10px;
    background-color: rgba(255,255,255,1);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    // min-width: 15rem;
    min-height: 100vh;
    width: 50%;

    &::after{
        content: " ";
        background-color: orange;
        width:50px;
        height: 50px;
        border-radius: 50%;
        position:absolute;
        top:1rem;
    }
}

.main{
    flex-grow: 1;
    nav > ul{
        display: flex;
        align-items: center;
        background-color: rgba(255,255,255,1);
        filter: drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.161));
        width: 100%;
        margin-left: 3px;
        margin-top: 0;
        li{
            padding: 20px;
            margin: 10px;
            width: max-content;
            /* border: 1px solid red; */
        }
    }
    header {
        padding-left: 20px;
        font-size: larger;
        font-weight: bolder;
        font-style: normal;
        word-spacing:  0.25em;;
        height: 3rem;
    }
    .main-content-wrapper{
        padding: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.card{
    width: 250px;
    height: 150px;
    border-radius: 1rem;
    background-color: rgba(255,255,255,1);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    padding: 1rem;
    margin: .5rem;
}